In [14]:
import kagglehub

# Download latest version
dl = kagglehub.dataset_download("pienik/unemployment-in-canada-by-province-1976-present")
path ='/root/.cache/kaggle/input/unemployment-in-canada-by-province-1976-present/Unemployment_Canada_1976_present.csv'
print("Path to dataset files:", path)

Path to dataset files: /root/.cache/kaggle/input/unemployment-in-canada-by-province-1976-present/Unemployment_Canada_1976_present.csv

In [17]:
from kagglehub import KaggleDatasetAdapter
df = kagglehub.dataset_load(
    KaggleDatasetAdapter.PANDAS,
    "pienik/unemployment-in-canada-by-province-1976-present",
    "Unemployment_Canada_1976_present.csv"
)

In [8]:
import pandas as pd

In [18]:
df.head()

,REF_DATE,GEO,Sex,Age group,Employment,Full-time employment,Labour force,Part-time employment,Population,Unemployment,Employment rate,Participation rate,Unemployment rate
0,1976-01,Alberta,Both sexes,15 to 24 years,231800.0,174900.0,252300.0,56900.0,362300.0,20500.0,64.0,69.6,8.1
1,1976-01,Alberta,Both sexes,15 to 64 years,802400.0,682100.0,837500.0,120300.0,1154800.0,35000.0,69.5,72.5,4.2
2,1976-01,Alberta,Both sexes,15 years and over,819500.0,693700.0,856500.0,125800.0,1276700.0,37000.0,64.2,67.1,4.3
3,1976-01,Alberta,Both sexes,25 to 54 years,491400.0,439800.0,505800.0,51600.0,661700.0,14400.0,74.3,76.4,2.8
4,1976-01,Alberta,Both sexes,25 years and over,587700.0,518800.0,604200.0,68900.0,914400.0,16500.0,64.3,66.1,2.7

In [24]:
print(df.shape)
df.dtypes

(38985, 13)

REF_DATE                  object
GEO                       object
Sex                       object
Age group                 object
Employment               float64
Full-time employment     float64
Labour force             float64
Part-time employment     float64
Population               float64
Unemployment             float64
Employment rate          float64
Participation rate       float64
Unemployment rate        float64
dtype: object

In [26]:
print(df.isnull().sum())

REF_DATE                    0
GEO                         0
Sex                         0
Age group                   0
Employment                  0
Full-time employment     1695
Labour force                0
Part-time employment     1696
Population                  0
Unemployment                6
Employment rate             0
Participation rate          0
Unemployment rate           6
dtype: int64

In [29]:
obj_cols = df.select_dtypes(include='object').columns
for col in obj_cols:
    uniques = df[col].unique()
    print(f"Column `{col}` – {len(uniques)} unique value(s):")
    print(uniques)
    print("-" * 40)

Column `REF_DATE` – 565 unique value(s):
['1976-01' '1976-02' '1976-03' '1976-04' '1976-05' '1976-06' '1976-07'
 '1976-08' '1976-09' '1976-10' '1976-11' '1976-12' '1977-01' '1977-02'
 '1977-03' '1977-04' '1977-05' '1977-06' '1977-07' '1977-08' '1977-09'
 '1977-10' '1977-11' '1977-12' '1978-01' '1978-02' '1978-03' '1978-04'
 '1978-05' '1978-06' '1978-07' '1978-08' '1978-09' '1978-10' '1978-11'
 '1978-12' '1979-01' '1979-02' '1979-03' '1979-04' '1979-05' '1979-06'
 '1979-07' '1979-08' '1979-09' '1979-10' '1979-11' '1979-12' '1980-01'
 '1980-02' '1980-03' '1980-04' '1980-05' '1980-06' '1980-07' '1980-08'
 '1980-09' '1980-10' '1980-11' '1980-12' '1981-01' '1981-02' '1981-03'
 '1981-04' '1981-05' '1981-06' '1981-07' '1981-08' '1981-09' '1981-10'
 '1981-11' '1981-12' '1982-01' '1982-02' '1982-03' '1982-04' '1982-05'
 '1982-06' '1982-07' '1982-08' '1982-09' '1982-10' '1982-11' '1982-12'
 '1983-01' '1983-02' '1983-03' '1983-04' '1983-05' '1983-06' '1983-07'
 '1983-08' '1983-09' '1983-10' '1983-11' '1983-12' '1984-01' '1984-02'
 '1984-03' '1984-04' '1984-05' '1984-06' '1984-07' '1984-08' '1984-09'
 '1984-10' '1984-11' '1984-12' '1985-01' '1985-02' '1985-03' '1985-04'
 '1985-05' '1985-06' '1985-07' '1985-08' '1985-09' '1985-10' '1985-11'
 '1985-12' '1986-01' '1986-02' '1986-03' '1986-04' '1986-05' '1986-06'
 '1986-07' '1986-08' '1986-09' '1986-10' '1986-11' '1986-12' '1987-01'
 '1987-02' '1987-03' '1987-04' '1987-05' '1987-06' '1987-07' '1987-08'
 '1987-09' '1987-10' '1987-11' '1987-12' '1988-01' '1988-02' '1988-03'
 '1988-04' '1988-05' '1988-06' '1988-07' '1988-08' '1988-09' '1988-10'
 '1988-11' '1988-12' '1989-01' '1989-02' '1989-03' '1989-04' '1989-05'
 '1989-06' '1989-07' '1989-08' '1989-09' '1989-10' '1989-11' '1989-12'
 '1990-01' '1990-02' '1990-03' '1990-04' '1990-05' '1990-06' '1990-07'
 '1990-08' '1990-09' '1990-10' '1990-11' '1990-12' '1991-01' '1991-02'
 '1991-03' '1991-04' '1991-05' '1991-06' '1991-07' '1991-08' '1991-09'
 '1991-10' '1991-11' '1991-12' '1992-01' '1992-02' '1992-03' '1992-04'
 '1992-05' '1992-06' '1992-07' '1992-08' '1992-09' '1992-10' '1992-11'
 '1992-12' '1993-01' '1993-02' '1993-03' '1993-04' '1993-05' '1993-06'
 '1993-07' '1993-08' '1993-09' '1993-10' '1993-11' '1993-12' '1994-01'
 '1994-02' '1994-03' '1994-04' '1994-05' '1994-06' '1994-07' '1994-08'
 '1994-09' '1994-10' '1994-11' '1994-12' '1995-01' '1995-02' '1995-03'
 '1995-04' '1995-05' '1995-06' '1995-07' '1995-08' '1995-09' '1995-10'
 '1995-11' '1995-12' '1996-01' '1996-02' '1996-03' '1996-04' '1996-05'
 '1996-06' '1996-07' '1996-08' '1996-09' '1996-10' '1996-11' '1996-12'
 '1997-01' '1997-02' '1997-03' '1997-04' '1997-05' '1997-06' '1997-07'
 '1997-08' '1997-09' '1997-10' '1997-11' '1997-12' '1998-01' '1998-02'
 '1998-03' '1998-04' '1998-05' '1998-06' '1998-07' '1998-08' '1998-09'
 '1998-10' '1998-11' '1998-12' '1999-01' '1999-02' '1999-03' '1999-04'
 '1999-05' '1999-06' '1999-07' '1999-08' '1999-09' '1999-10' '1999-11'
 '1999-12' '2000-01' '2000-02' '2000-03' '2000-04' '2000-05' '2000-06'
 '2000-07' '2000-08' '2000-09' '2000-10' '2000-11' '2000-12' '2001-01'
 '2001-02' '2001-03' '2001-04' '2001-05' '2001-06' '2001-07' '2001-08'
 '2001-09' '2001-10' '2001-11' '2001-12' '2002-01' '2002-02' '2002-03'
 '2002-04' '2002-05' '2002-06' '2002-07' '2002-08' '2002-09' '2002-10'
 '2002-11' '2002-12' '2003-01' '2003-02' '2003-03' '2003-04' '2003-05'
 '2003-06' '2003-07' '2003-08' '2003-09' '2003-10' '2003-11' '2003-12'
 '2004-01' '2004-02' '2004-03' '2004-04' '2004-05' '2004-06' '2004-07'
 '2004-08' '2004-09' '2004-10' '2004-11' '2004-12' '2005-01' '2005-02'
 '2005-03' '2005-04' '2005-05' '2005-06' '2005-07' '2005-08' '2005-09'
 '2005-10' '2005-11' '2005-12' '2006-01' '2006-02' '2006-03' '2006-04'
 '2006-05' '2006-06' '2006-07' '2006-08' '2006-09' '2006-10' '2006-11'
 '2006-12' '2007-01' '2007-02' '2007-03' '2007-04' '2007-05' '2007-06'
 '2007-07' '2007-08' '2007-09' '2007-10' '2007-11' '2007-12' '2008-01'
 '2008-02' '2008-03' '2008-04' '2008-05' '2008-06' '2008-07' '2008-08'
 '2008-09' '2008-10' '2008-11' '2008-12' '2009-01' '2009-02' '2009-03'
 '2009-04' '2009-05' '2009-06' '2009-07' '2009-08' '2009-09' '2009-10'
 '2009-11' '2009-12' '2010-01' '2010-02' '2010-03' '2010-04' '2010-05'
 '2010-06' '2010-07' '2010-08' '2010-09' '2010-10' '2010-11' '2010-12'
 '2011-01' '2011-02' '2011-03' '2011-04' '2011-05' '2011-06' '2011-07'
 '2011-08' '2011-09' '2011-10' '2011-11' '2011-12' '2012-01' '2012-02'
 '2012-03' '2012-04' '2012-05' '2012-06' '2012-07' '2012-08' '2012-09'
 '2012-10' '2012-11' '2012-12' '2013-01' '2013-02' '2013-03' '2013-04'
 '2013-05' '2013-06' '2013-07' '2013-08' '2013-09' '2013-10' '2013-11'
 '2013-12' '2014-01' '2014-02' '2014-03' '2014-04' '2014-05' '2014-06'
 '2014-07' '2014-08' '2014-09' '2014-10' '2014-11' '2014-12' '2015-01'
 '2015-02' '2015-03' '2015-04' '2015-05' '2015-06' '2015-07' '2015-08'
 '2015-09' '2015-10' '2015-11' '2015-12' '2016-01' '2016-02' '2016-03'
 '2016-04' '2016-05' '2016-06' '2016-07' '2016-08' '2016-09' '2016-10'
 '2016-11' '2016-12' '2017-01' '2017-02' '2017-03' '2017-04' '2017-05'
 '2017-06' '2017-07' '2017-08' '2017-09' '2017-10' '2017-11' '2017-12'
 '2018-01' '2018-02' '2018-03' '2018-04' '2018-05' '2018-06' '2018-07'
 '2018-08' '2018-09' '2018-10' '2018-11' '2018-12' '2019-01' '2019-02'
 '2019-03' '2019-04' '2019-05' '2019-06' '2019-07' '2019-08' '2019-09'
 '2019-10' '2019-11' '2019-12' '2020-01' '2020-02' '2020-03' '2020-04'
 '2020-05' '2020-06' '2020-07' '2020-08' '2020-09' '2020-10' '2020-11'
 '2020-12' '2021-01' '2021-02' '2021-03' '2021-04' '2021-05' '2021-06'
 '2021-07' '2021-08' '2021-09' '2021-10' '2021-11' '2021-12' '2022-01'
 '2022-02' '2022-03' '2022-04' '2022-05' '2022-06' '2022-07' '2022-08'
 '2022-09' '2022-10' '2022-11' '2022-12' '2023-01']
----------------------------------------
Column `GEO` – 11 unique value(s):
['Alberta' 'British Columbia' 'Canada' 'Manitoba' 'New Brunswick'
 'Newfoundland and Labrador' 'Nova Scotia' 'Ontario'
 'Prince Edward Island' 'Quebec' 'Saskatchewan']
----------------------------------------
Column `Sex` – 1 unique value(s):
['Both sexes']
----------------------------------------
Column `Age group` – 9 unique value(s):
['15 to 24 years' '15 to 64 years' '15 years and over' '25 to 54 years'
 '25 years and over' '55 years and over' '15 to 19 years' '20 to 24 years'
 '55 to 64 years']
----------------------------------------

NameError: name 'null' is not defined